.list-main tr:last-child td {border-bottom:1px #c9c9c9 solid;}
.list-main {border:1px #aaa solid;}
    .list-main td {border-top: 1px #c9c9c9 solid;border-right: 1px #ccc solid;text-align:right;}
    .list-main td.empty-data {text-align:center;}
.rptr-total td {border-top:1px #000 solid;}
.list-main tr > td:last-child {border-left:1.5px #000 solid;}
.tr-row > td, .total-row > td {
    border-right: 1px #ccc solid;
}
.total-row > td {border-top:2px #666 solid; border-bottom:0!important;}
